.bye{
	text-decoration: none;
}
#yo{
	display: grid;
	grid-template-columns: 150px 1fr;
}
#yee{
	border-bottom: 5px red solid;
}
ul{
	border-right: 5px red solid;
	padding: 20px;
	width: 50px;
	padding-top: 0;
	margin: 0;
}
#ha{
	padding-top: 10px
}